d-sandbox

<div style="text-align: center; line-height: 0; padding-top: 9px;">
  <img src="https://databricks.com/wp-content/uploads/2018/03/db-academy-rgb-1200px.png" alt="Databricks Learning" style="width: 600px; height: 163px">
</div>

# Project: Exploratory Data Analysis
Perform exploratory data analysis (EDA) to gain insights from a data lake.

## Audience
* Primary Audience: Data Analysts
* Additional Audiences: Data Engineers and Data Scientists

## Prerequisites
* Web browser: **Chrome**
* A cluster configured with **8 cores** and **DBR 6.2**
* Familiarity with <a href="https://www.w3schools.com/sql/" target="_blank">ANSI SQL</a> is required
* Suggested Courses from <a href="https://academy.databricks.com/" target="_blank">Databricks Academy</a>:
  - Spark-SQL

## Instructions

In `dbfs:/mnt/training/crime-data-2016`, there are a number of Parquet files containing 2016 crime data from seven United States cities:

* New York
* Los Angeles
* Chicago
* Philadelphia
* Dallas
* Boston


The data is cleaned up a little but has not been normalized. Each city reports crime data slightly differently, so you have to
examine the data for each city to determine how to query it properly.

Your job is to use some of this data to gain insights about certain kinds of crimes.

## ![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) Classroom-Setup

For each lesson to execute correctly, please make sure to run the **`Classroom-Setup`** cell at the<br/>
start of each lesson (see the next cell) and the **`Classroom-Cleanup`** cell at the end of each lesson.

In [4]:
%run ./Includes/Classroom-Setup

-sandbox
## Step 1

Start by creating temporary views for Los Angeles, Philadelphia, and Dallas

Use `CREATE TEMPORARY VIEW` to create named views for the files you choose. Use a similar syntax as `CREATE TABLE`:

```
CREATE OR REPLACE TEMPORARY VIEW name
  USING parquet
  OPTIONS (
    ...
  )
```

Use the following view names:

| City          | Table Name              | Path to DBFS file
| ------------- | ----------------------- | -----------------
| Los Angeles   | `CrimeDataLosAngeles`   | `dbfs:/mnt/training/crime-data-2016/Crime-Data-Los-Angeles-2016.parquet`
| Philadelphia  | `CrimeDataPhiladelphia` | `dbfs:/mnt/training/crime-data-2016/Crime-Data-Philadelphia-2016.parquet`
| Dallas        | `CrimeDataDallas`       | `dbfs:/mnt/training/crime-data-2016/Crime-Data-Dallas-2016.parquet`



<img alt="Hint" title="Hint" style="vertical-align: text-bottom; position: relative; height:1.75em; top:0.3em" src="https://files.training.databricks.com/static/images/icon-light-bulb.svg"/>&nbsp;**Hint:** You learned how to create a table from an external file in [Lesson 3]($./03-Accessing-Data). The syntax is exactly the same, except that you use `CREATE OR REPLACE TEMPORARY VIEW` instead of `CREATE TABLE IF EXISTS`.

#### Los Angeles

In [7]:
%sql
CREATE OR REPLACE TEMPORARY VIEW CrimeDataLosAngeles
  USING parquet
  OPTIONS (
    path "dbfs:/mnt/training/crime-data-2016/Crime-Data-Los-Angeles-2016.parquet"
  )

In [8]:
# TEST - Run this cell to test your solution.

rowsLosAngeles = spark.sql('SELECT count(*) FROM CrimeDataLosAngeles').collect()[0][0]
dbTest("SQL-L7-crimeDataLA-count", 217945, rowsLosAngeles)

print("Tests passed!")

#### Philadelphia

In [10]:
%sql
-- TODO
CREATE OR REPLACE TEMPORARY VIEW CrimeDataPhiladelphia
  USING parquet
  OPTIONS (
    path "dbfs:/mnt/training/crime-data-2016/Crime-Data-Philadelphia-2016.parquet"
  )

In [11]:
# TEST - Run this cell to test your solution.

rowsPhiladelphia = spark.sql('SELECT count(*) FROM CrimeDataPhiladelphia').collect()[0][0]
dbTest("SQL-L7-crimeDataPA-count", 168664, rowsPhiladelphia)

print("Tests passed!")

#### Dallas

In [13]:
%sql
CREATE OR REPLACE TEMPORARY VIEW CrimeDataDallas
  USING parquet
  OPTIONS (
    path "dbfs:/mnt/training/crime-data-2016/Crime-Data-Dallas-2016.parquet"
  )

In [14]:
# TEST - Run this cell to test your solution.

rowsDallas = spark.sql('SELECT count(*) FROM CrimeDataDallas').collect()[0][0]
dbTest("SQL-L7-crimeDataDAL-count", 99642, rowsDallas) 

print("Tests passed!")

-sandbox
## Step 2

For each table, examine the data to figure out how to extract _robbery_ statistics.

<img alt="Side Note" title="Side Note" style="vertical-align: text-bottom; position: relative; height:1.75em; top:0.05em; transform:rotate(15deg)" src="https://files.training.databricks.com/static/images/icon-note.webp"/> Each city uses different values to indicate robbery. Some cities use "larceny", "burglary", and "robbery".  These challenges are common in data lakes.  To simplify things, restrict yourself to only the word "robbery" (and not attempted-roberty, larceny, or burglary).

Explore the data for the three cities until you understand how each city records robbery information. If you don't want to worry about upper- or lower-case, remember that SQL has a `LOWER()` function that converts a column's value to lowercase.

Create a temporary view containing only the robbery-related rows, as shown in the table below.

<img alt="Hint" title="Hint" style="vertical-align: text-bottom; position: relative; height:1.75em; top:0.3em" src="https://files.training.databricks.com/static/images/icon-light-bulb.svg"/>&nbsp;**Hint:** For each table, focus your efforts on the column listed below.

Focus on the following columns for each table:

| Table Name              | Robbery View Name     | Column
| ----------------------- | ----------------------- | -------------------------------
| `CrimeDataLosAngeles`   | `RobberyLosAngeles`   | `crimeCodeDescription`
| `CrimeDataPhiladelphia` | `RobberyPhiladelphia` | `ucr_general_description`
| `CrimeDataDallas`       | `RobberyDallas`       | `typeOfIncident`

#### Los Angeles

In [17]:
%sql
CREATE OR REPLACE TEMPORARY VIEW RobberyLosAngeles AS
  SELECT *
  FROM CrimeDataLosAngeles
  WHERE lower(crimeCodeDescription) LIKE 'robbery%'

In [18]:
# TEST - Run this cell to test your solution.

totalLosAngeles = spark.sql("SELECT count(*) AS total FROM RobberyLosAngeles").collect()[0].total
dbTest("SQL-L7-robberyDataLA-count", 9048, totalLosAngeles)

print("Tests passed!")

#### Philadelphia

In [20]:
%sql
CREATE OR REPLACE TEMPORARY VIEW RobberyPhiladelphia AS
  SELECT *
  FROM CrimeDataPhiladelphia
  WHERE lower(ucr_general_description) LIKE 'robbery%'

In [21]:
# TEST - Run this cell to test your solution.

totalPhiladelphia = spark.sql("SELECT count(*) AS total FROM RobberyPhiladelphia").collect()[0].total
dbTest("SQL-L7-robberyDataPA-count", 6149, totalPhiladelphia)

print("Tests passed!")

#### Dallas

In [23]:
%sql
CREATE OR REPLACE TEMPORARY VIEW RobberyDallas AS
  SELECT *
  FROM CrimeDataDallas
  WHERE lower(typeOfIncident) LIKE 'robbery%'

In [24]:
# TEST - Run this cell to test your solution.

totalDallas = spark.sql("SELECT count(*) AS total FROM RobberyDallas").collect()[0].total
dbTest("SQL-L7-robberyDataDAL-count", 6824, totalDallas)

print("Tests passed!")

-sandbox
## Step 3

Now that you have views of only the robberies in each city, create temporary views for each city, summarizing the number of robberies in each month.

Your views must contain two columns:
* `month`: The month number (e.g., 1 for January, 2 for February, etc.)
* `robberies`: The total number of robberies in the month

Use the following temporary view names and date columns:


| City          | View Name     | Date Column 
| ------------- | ------------- | -------------
| Los Angeles   | `RobberiesByMonthLosAngeles` | `timeOccurred`
| Philadelphia  | `RobberiesByMonthPhiladelphia` | `dispatch_date_time`
| Dallas        | `RobberiesByMonthDallas` | `startingDateTime`

<img alt="Side Note" title="Side Note" style="vertical-align: text-bottom; position: relative; height:1.75em; top:0.05em; transform:rotate(15deg)" src="https://files.training.databricks.com/static/images/icon-note.webp"/> For each city, figure out which column contains the date of the incident. Then, extract the month from that date.

#### Los Angeles

In [27]:
%sql
Create or Replace temporary View RobberiesByMonthLosAngeles AS
--Describe RobberyLosAngeles
Select month(timeOccurred) month, Count(*) robberies
From RobberyLosAngeles
Group by month(timeOccurred);

Select * From RobberiesByMonthLosAngeles

month,robberies
12,853
1,719
6,698
3,709
5,790
9,722
4,713
8,765
7,826
10,814
11,764
2,675

In [28]:
# TEST - Run this cell to test your solution.

rows = spark.sql("SELECT month, robberies FROM RobberiesByMonthLosAngeles ORDER BY month").collect()
la = [ f"{r[0]}: {r[1]}" for r in rows ]

dbTest("SQL-L7-robberyByMonthLA-counts-1", "1: 719", la[0])
dbTest("SQL-L7-robberyByMonthLA-counts-2", "2: 675", la[1])
dbTest("SQL-L7-robberyByMonthLA-counts-3", "3: 709", la[2])
dbTest("SQL-L7-robberyByMonthLA-counts-4", "4: 713", la[3])
dbTest("SQL-L7-robberyByMonthLA-counts-5", "5: 790", la[4])
dbTest("SQL-L7-robberyByMonthLA-counts-6", "6: 698", la[5])
dbTest("SQL-L7-robberyByMonthLA-counts-7", "7: 826", la[6])
dbTest("SQL-L7-robberyByMonthLA-counts-8", "8: 765", la[7])
dbTest("SQL-L7-robberyByMonthLA-counts-9", "9: 722", la[8])
dbTest("SQL-L7-robberyByMonthLA-counts-10", "10: 814", la[9])
dbTest("SQL-L7-robberyByMonthLA-counts-11", "11: 764", la[10])
dbTest("SQL-L7-robberyByMonthLA-counts-12", "12: 853", la[11])

print("Tests passed!")

#### Philadelphia

In [30]:
%sql
Describe RobberyPhiladelphia

col_name,data_type,comment
district,int,null
dispatch_date_time,timestamp,null
dispatch_date,timestamp,null
dispatch_time,string,null
hour,int,null
unique_id,bigint,null
location_block,string,null
ucr_general,int,null
text_general_code,string,null
point_x,double,null
point_y,double,null
lat,double,null
lng,double,null
ucr_general_description,string,null

In [31]:
%sql
--Describe RobberyPhiladelphia

Create or Replace temporary View RobberiesByMonthPhiladelphia AS
Select month(dispatch_date_time) month, Count(*) robberies
From RobberyPhiladelphia
Group by month(dispatch_date_time);

Select * From RobberiesByMonthPhiladelphia

month,robberies
12,544
1,520
6,509
3,432
5,533
9,514
4,466
8,561
7,537
10,572
11,545
2,416

In [32]:
# TEST - Run this cell to test your solution.

rows = spark.sql("SELECT month, robberies FROM RobberiesByMonthPhiladelphia ORDER BY month").collect()
philadelphia = [ f"{r[0]}: {r[1]}" for r in rows ]

dbTest("SQL-L7-robberyByMonthPA-counts-1", "1: 520", philadelphia[0])
dbTest("SQL-L7-robberyByMonthPA-counts-2", "2: 416", philadelphia[1])
dbTest("SQL-L7-robberyByMonthPA-counts-3", "3: 432", philadelphia[2])
dbTest("SQL-L7-robberyByMonthPA-counts-4", "4: 466", philadelphia[3])
dbTest("SQL-L7-robberyByMonthPA-counts-5", "5: 533", philadelphia[4])
dbTest("SQL-L7-robberyByMonthPA-counts-6", "6: 509", philadelphia[5])
dbTest("SQL-L7-robberyByMonthPA-counts-7", "7: 537", philadelphia[6])
dbTest("SQL-L7-robberyByMonthPA-counts-8", "8: 561", philadelphia[7])
dbTest("SQL-L7-robberyByMonthPA-counts-9", "9: 514", philadelphia[8])
dbTest("SQL-L7-robberyByMonthPA-counts-10", "10: 572", philadelphia[9])
dbTest("SQL-L7-robberyByMonthPA-counts-11", "11: 545", philadelphia[10])
dbTest("SQL-L7-robberyByMonthPA-counts-12", "12: 544", philadelphia[11])

print("Tests passed!")

#### Dallas

In [34]:
%sql
Describe RobberyDallas

col_name,data_type,comment
incidentNumberWithYear,string,null
incidentNumberWithoutYear,int,null
offenseServiceNumber,string,null
serviceNumberID,string,null
watch,string,null
call911Problem,string,null
typeOfIncident,string,null
penaltyClass,string,null
typeOfLocation,string,null
typeOfProperty,string,null
streetBlock,int,null
streetDirection,string,null
streetName,string,null
incidentAddress,string,null
apartmentNumber,string,null
zipCode,int,null
city,string,null
state,string,null
XCoordinate,double,null
YCoordinate,double,null
reportingArea,int,null
beat,int,null
division,string,null
sector,int,null
councilDistrict,int,null
targetAreaActionGrids,string,null
community,string,null
callReceivedDateTime,string,null
callDateTime,string,null
personInvolvementType,string,null
complainantName,string,null
complainantRace,string,null
complainantGender,string,null
complainantAge,string,null
complainantAgeAtOffense,int,null
complainantHomeAddress,string,null
complainantApartment,string,null
complainantZipCode,int,null
complainantCity,string,null
complainantState,string,null
complainantBusinessName,string,null
complainantBusinessAddress,string,null
yearAssignment,string,null
weather,string,null
respondingOfficer1BadgeNo,string,null
respondingOfficer1Name,string,null
respondingOfficer2BadgeNo,string,null
respondingOfficer2Name,string,null
reportingOfficerBadgeNo,string,null
assistingOfficerBadgeNo,string,null
reviewingOfficerBadgeNo,string,null
elementNumberAssigned,string,null
investigatingUnit1,string,null
investigatingUnit2,string,null
offenseStatus,string,null
ucrDisposition,string,null
victimInjuryDescription,string,null
victimCondition,string,null
ucr1,string,null
finalUCR,int,null
rmsCode,string,null
offenseCodeCC,string,null
cjisCode,string,null
penalCode,string,null
ucrOffenseName,string,null
ucrOffenseDescription,string,null
offenseType,string,null
modusOperandiMO,string,null
familyOffense,string,null
hateCrime,string,null
gangRelatedOffense,string,null
victimPackage,string,null
drugRelatedIncident,string,null
location1,string,null
startingDateTime,timestamp,null
endingDateTime,timestamp,null
dateOfReport,timestamp,null
callDispatchDateTime,timestamp,null
callClearedDateTime,timestamp,null
offenseEnteredDateTime,timestamp,null

In [35]:
%sql
--Describe RobberyPhiladelphia

Create or Replace temporary View RobberiesByMonthDallas AS
Select month(startingDateTime) month, Count(*) robberies
From RobberyDallas
Group by month(startingDateTime);

Select * From RobberiesByMonthDallas

month,robberies
12,664
1,743
6,495
3,412
5,615
9,512
4,594
8,627
7,535
10,603
11,589
2,435

In [36]:
# TEST - Run this cell to test your solution.

rows = spark.sql("SELECT month, robberies FROM RobberiesByMonthDallas ORDER BY month").collect()
dallas = [ f"{r[0]}: {r[1]}" for r in rows ]

dbTest("SQL-L7-robberyByMonthDAL-counts-1", "1: 743", dallas[0])
dbTest("SQL-L7-robberyByMonthDAL-counts-2", "2: 435", dallas[1])
dbTest("SQL-L7-robberyByMonthDAL-counts-3", "3: 412", dallas[2])
dbTest("SQL-L7-robberyByMonthDAL-counts-4", "4: 594", dallas[3])
dbTest("SQL-L7-robberyByMonthDAL-counts-5", "5: 615", dallas[4])
dbTest("SQL-L7-robberyByMonthDAL-counts-6", "6: 495", dallas[5])
dbTest("SQL-L7-robberyByMonthDAL-counts-7", "7: 535", dallas[6])
dbTest("SQL-L7-robberyByMonthDAL-counts-8", "8: 627", dallas[7])
dbTest("SQL-L7-robberyByMonthDAL-counts-9", "9: 512", dallas[8])
dbTest("SQL-L7-robberyByMonthDAL-counts-10", "10: 603", dallas[9])
dbTest("SQL-L7-robberyByMonthDAL-counts-11", "11: 589", dallas[10])
dbTest("SQL-L7-robberyByMonthDAL-counts-12", "12: 664", dallas[11])

print("Tests passed!")

-sandbox

## Step 4

Plot the robberies per month for each of your three cities, producing a plot similar to the following:

<img src="https://files.training.databricks.com/images/eLearning/robberies-by-month.png" style="max-width: 700px; border: 1px solid #aaaaaa; border-radius: 10px 10px 10px 10px"/>

When you first run your cell, you'll get an HTML table as the result. To configure the plot,

1. Click the graph button
2. If the plot doesn't look correct, click the **Plot Options** button
3. Configure the plot similar to the following example

<img src="https://files.training.databricks.com/images/eLearning/capstone-plot-1.png" style="width: 440px; margin: 10px; border: 1px solid #aaaaaa; border-radius: 10px 10px 10px 10px"/>
<img src="https://files.training.databricks.com/images/eLearning/capstone-plot-2.png" style="width: 268px; margin: 10px; border: 1px solid #aaaaaa; border-radius: 10px 10px 10px 10px"/>
<img src="https://files.training.databricks.com/images/eLearning/capstone-plot-3.png" style="width: 362px; margin: 10px; border: 1px solid #aaaaaa; border-radius: 10px 10px 10px 10px"/>

#### Los Angeles

In [39]:
%sql
Select * From RobberiesByMonthLosAngeles

month,robberies
12,853
1,719
6,698
3,709
5,790
9,722
4,713
8,765
7,826
10,814
11,764
2,675

#### Philadelphia

In [41]:
%sql
Select * From RobberiesByMonthPhiladelphia

month,robberies
12,544
1,520
6,509
3,432
5,533
9,514
4,466
8,561
7,537
10,572
11,545
2,416

#### Dallas

In [43]:
%sql
Select * From RobberiesByMonthDallas

month,robberies
12,664
1,743
6,495
3,412
5,615
9,512
4,594
8,627
7,535
10,603
11,589
2,435

-sandbox
## Step 5

Create another temporary view called `CombinedRobberiesByMonth`, that combines all three robberies-per-month views into one.
In creating this view, add a new column called `city`, that identifies the city associated with each row.
The final view will have the following columns:

* `city`: The name of the city associated with the row (Use the strings "Los Angeles", "Philadelphia", and "Dallas".)
* `month`: The month number associated with the row
* `robbery`: The number of robbery in that month (for that city)

<img alt="Hint" title="Hint" style="vertical-align: text-bottom; position: relative; height:1.75em; top:0.3em" src="https://files.training.databricks.com/static/images/icon-light-bulb.svg"/>&nbsp;**Hint:** You may want to use `UNION` in this example to combine the three datasets.

<img alt="Hint" title="Hint" style="vertical-align: text-bottom; position: relative; height:1.75em; top:0.3em" src="https://files.training.databricks.com/static/images/icon-light-bulb.svg"/>&nbsp;**Hint:** In Databricks, all table schemas are immutable and therefore standard SQL commands such as `ALTER…ADD` and `UPDATE…SET` do not work for adding the new "city" column. 

Instead, new columns can be added by simply naming them in the `SELECT` statement within the `CREATE OR REPLACE TEMPORARY VIEW` statement.

In [45]:
%sql
CREATE OR REPLACE TEMPORARY VIEW CombinedRobberiesByMonth AS
  SELECT 'Dallas' city, * FROM RobberiesByMonthDallas
    UNION ALL
  SELECT 'Los Angeles' city, * FROM RobberiesByMonthLosAngeles
      UNION ALL
  SELECT 'Philadelphia' city, * FROM RobberiesByMonthPhiladelphia

In [46]:
# TEST - Run this cell to test your solution.

rows = spark.sql("SELECT concat(city,'|',month,'|',robberies) FROM CombinedRobberiesByMonth order by robberies, month").collect()

dbTest("SQL-L7-combinedRobberiesByMonth-counts-0",  "Dallas|3|412",  rows[0][0])
dbTest("SQL-L7-combinedRobberiesByMonth-counts-10", "Philadelphia|5|533", rows[10][0])
dbTest("SQL-L7-combinedRobberiesByMonth-counts-20", "Dallas|5|615", rows[20][0])

print("Tests passed!")

-sandbox
## Step 6

Graph the contents of `CombinedRobberiesByMonth`, producing a graph similar to the following. (The diagram below deliberately
uses different data.)

<img src="https://files.training.databricks.com/images/eLearning/combined-homicides.png" style="width: 800px; border: 1px solid #aaaaaa; border-radius: 10px 10px 10px 10px"/>

Adjust the plot options to configure the plot properly, as shown below:

<img src="https://files.training.databricks.com/images/eLearning/capstone-plot-4.png" style="width: 362px; margin: 10px; border: 1px solid #aaaaaa; border-radius: 10px 10px 10px 10px"/>

<img alt="Hint" title="Hint" style="vertical-align: text-bottom; position: relative; height:1.75em; top:0.3em" src="https://files.training.databricks.com/static/images/icon-light-bulb.svg"/>&nbsp;**Hint:** Order your results by `month`, then `city`.

In [48]:
%sql
Select * From CombinedRobberiesByMonth Order by month

city,month,robberies
Philadelphia,1,520
Dallas,1,743
Los Angeles,1,719
Philadelphia,2,416
Los Angeles,2,675
Dallas,2,435
Dallas,3,412
Los Angeles,3,709
Philadelphia,3,432
Philadelphia,4,466
Los Angeles,4,713
Dallas,4,594
Los Angeles,5,790
Dallas,5,615
Philadelphia,5,533
Dallas,6,495
Philadelphia,6,509
Los Angeles,6,698
Philadelphia,7,537
Dallas,7,535
Los Angeles,7,826
Los Angeles,8,765
Dallas,8,627
Philadelphia,8,561
Los Angeles,9,722
Dallas,9,512
Philadelphia,9,514
Philadelphia,10,572
Los Angeles,10,814
Dallas,10,603
Los Angeles,11,764
Philadelphia,11,545
Dallas,11,589
Philadelphia,12,544
Los Angeles,12,853
Dallas,12,664

## Step 7

While the above graph is interesting, it's flawed: it's comparing the raw numbers of robberies, not the per capita robbery rates.

The table (already created) called `CityData`  contains, among other data, estimated 2016 population values for all United States cities
with populations of at least 100,000. (The data is from [Wikipedia](https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population).)

* Use the population values in that table to normalize the robberies so they represent per-capita values (i.e. total robberies divided by population)
* Save your results in a temporary view called `RobberyRatesByCity`
* The robbery rate value must be stored in a new column, `robberyRate`

Next, graph the results, as above.

In [50]:
%sql
Select * from CityData

rankIn2016,state,stateAbbrev,population2010,estPopulation2016,city
1,New York,NY,8175133,8537673,New York
2,California,CA,3792621,3976322,Los Angeles
3,Illinois,IL,2695598,2704958,Chicago
4,Texas,TX,2100263,2303482,Houston
5,Arizona,AZ,1445632,1615017,Phoenix
6,Pennsylvania,PA,1526006,1567872,Philadelphia
7,Texas,TX,1327407,1492510,San Antonio
8,California,CA,1307402,1406630,San Diego
9,Texas,TX,1197816,1317929,Dallas
10,California,CA,945942,1025350,San Jose
11,Texas,TX,790390,947890,Austin
12,Florida,FL,821784,880619,Jacksonville
13,California,CA,805235,870887,San Francisco
14,Ohio,OH,787033,860090,Columbus
15,Indiana,IN,820445,855164,Indianapolis
16,Texas,TX,741206,854113,Fort Worth
17,North Carolina,NC,731424,842051,Charlotte
18,Washington,WA,608660,704352,Seattle
19,Colorado,CO,600158,693060,Denver
20,Texas,TX,649121,683080,El Paso
21,District of Columbia,DC,601723,681170,Washington
22,Massachusetts,MA,617594,673184,Boston
23,Michigan,MI,713777,672795,Detroit
24,Tennessee,TN,601222,660388,Nashville
25,Tennessee,TN,646889,652717,Memphis
26,Oregon,OR,583776,639863,Portland
27,Oklahoma,OK,579999,638367,Oklahoma City
28,Nevada,NV,583756,632912,Las Vegas
29,Kentucky,KY,597337,616261,Louisville
30,Maryland,MD,620961,614664,Baltimore
31,Wisconsin,WI,594833,595047,Milwaukee
32,New Mexico,NM,545852,559277,Albuquerque
33,Arizona,AZ,520116,530706,Tucson
34,California,CA,494665,522053,Fresno
35,California,CA,466488,495234,Sacramento
36,Arizona,AZ,439041,484587,Mesa
37,Missouri,MO,459787,481420,Kansas City
38,Georgia,GA,420003,472522,Atlanta
39,California,CA,462257,470130,Long Beach
40,Colorado,CO,416427,465101,Colorado Springs
41,North Carolina,NC,403892,458880,Raleigh
42,Florida,FL,399457,453579,Miami
43,Virginia,VA,437994,452602,Virginia Beach
44,Nebraska,NE,408958,446970,Omaha
45,California,CA,390724,420005,Oakland
46,Minnesota,MN,382578,413651,Minneapolis
47,Oklahoma,OK,391906,403090,Tulsa
48,Texas,TX,365438,392772,Arlington
49,Louisiana,LA,343829,391495,New Orleans
50,Kansas,KS,382368,389902,Wichita
51,Ohio,OH,396815,385809,Cleveland
52,Florida,FL,335709,377165,Tampa
53,California,CA,347483,376380,Bakersfield
54,Colorado,CO,325078,361710,Aurora
55,Hawaii,HI,337256,351792,Honolulu
56,California,CA,336265,351043,Anaheim
57,California,CA,324528,334217,Santa Ana
58,Texas,TX,305215,325733,Corpus Christi
59,California,CA,303871,324722,Riverside
60,Kentucky,KY,295803,318449,Lexington
61,Missouri,MO,319294,311404,St. Louis
62,California,CA,291707,307072,Stockton
63,Pennsylvania,PA,305704,303625,Pittsburgh
64,Minnesota,MN,285068,302398,Saint Paul
65,Ohio,OH,296943,298800,Cincinnati
66,Alaska,AK,291826,298192,Anchorage
67,Nevada,NV,257729,292969,Henderson
68,North Carolina,NC,269666,287027,Greensboro
69,Texas,TX,259841,286057,Plano
70,New Jersey,NJ,277140,281764,Newark
71,Nebraska,NE,258379,280364,Lincoln
72,Ohio,OH,287208,278508,Toledo
73,Florida,FL,238300,277173,Orlando
74,California,CA,243916,267172,Chula Vista
75,California,CA,212375,266122,Irvine
76,Indiana,IN,253691,264488,Fort Wayne
77,New Jersey,NJ,247597,264152,Jersey City
78,North Carolina,NC,228330,263016,Durham
79,Florida,FL,244769,260999,St. Petersburg
80,Texas,TX,236091,257156,Laredo
81,New York,NY,261310,256902,Buffalo
82,Wisconsin,WI,233209,252551,Madison
83,Texas,TX,229573,252506,Lubbock
84,Arizona,AZ,236123,247477,Chandler
85,Arizona,AZ,217385,246645,Scottsdale
86,Arizona,AZ,226721,245895,Glendale
87,Nevada,NV,225221,245255,Reno
88,Virginia,VA,242803,245115,Norfolk
89,North Carolina,NC,229617,242203,Winston-Salem
90,Nevada,NV,216961,238702,North Las Vegas
91,Texas,TX,216290,238289,Irving
92,Virginia,VA,222209,237940,Chesapeake
93,Arizona,AZ,208453,237133,Gilbert
94,Florida,FL,224669,236387,Hialeah
95,Texas,TX,226876,234943,Garland
96,California,CA,214089,233136,Fremont
97,Louisiana,LA,229493,227715,Baton Rouge
98,Virginia,VA,204214,223170,Richmond
99,Idaho,ID,205671,223154,Boise
100,California,CA,209924,216239,San Bernardino
101,Washington,WA,208916,215973,Spokane
102,Iowa,IA,203433,215472,Des Moines
103,California,CA,201165,212175,Modesto
104,Alabama,AL,212237,212157,Birmingham
105,Washington,WA,198397,211277,Tacoma
106,California,CA,196069,209665,Fontana
107,New York,NY,210565,208880,Rochester
108,California,CA,197899,207906,Oxnard
109,California,CA,193365,205499,Moreno Valley
110,North Carolina,NC,200564,204759,Fayetteville
111,Illinois,IL,197899,201110,Aurora
112,California,CA,191719,200831,Glendale
113,New York,NY,195976,200807,Yonkers
114,California,CA,189992,200652,Huntington Beach
115,Alabama,AL,205764,200022,Montgomery
116,Texas,TX,190695,199582,Amarillo
117,Arkansas,AR,193524,198541,Little Rock
118,Ohio,OH,199110,197633,Akron
119,Georgia,GA,189885,197485,Columbus
120,Georgia,GA,195844,197081,Augusta
121,Michigan,MI,188040,196445,Grand Rapids
122,Louisiana,LA,199311,194920,Shreveport
123,Utah,UT,186440,193744,Salt Lake City
124,Alabama,AL,180105,193079,Huntsville
125,Alabama,AL,195111,192904,Mobile
126,Florida,FL,181376,190894,Tallahassee
127,Texas,TX,175396,190682,Grand Prairie
128,Kansas,KS,173372,188966,Overland Park
129,Tennessee,TN,178874,186239,Knoxville
130,Florida,FL,164603,185132,Port St. Lucie
131,Massachusetts,MA,181045,184508,Worcester
132,Texas,TX,175023,183823,Brownsville
133,Arizona,AZ,161719,182498,Tempe
134,California,CA,176320,181972,Santa Clarita
135,Virginia,VA,180719,181825,Newport News
136,Florida,FL,154305,179804,Cape Coral
137,Rhode Island,RI,178042,179219,Providence
138,Florida,FL,165521,178752,Fort Lauderdale
139,Tennessee,TN,167674,177571,Chattanooga
140,California,CA,165269,176534,Rancho Cucamonga
141,California,CA,167086,175464,Oceanside
142,California,CA,167815,175155,Santa Rosa
143,California,CA,170883,174858,Garden Grove
144,Washington,WA,161791,174826,Vancouver
145,South Dakota,SD,153888,174360,Sioux Falls
146,California,CA,163924,173212,Ontario
147,Texas,TX,131117,172298,McKinney
148,California,CA,153015,169743,Elk Grove
149,Mississippi,MS,173514,169148,Jackson
150,Florida,FL,154019,168587,Pembroke Pines
151,Oregon,OR,154637,167419,Salem
152,Missouri,MO,159498,167319,Springfield
153,California,CA,152374,166785,Corona
154,Oregon,OR,156185,166575,Eugene
155,Colorado,CO,143986,164207,Fort Collins
156,Arizona,AZ,154065,164173,Peoria
157,Texas,TX,116989,163656,Frisco
158,North Carolina,NC,135234,162320,Cary
159,California,CA,156633,160106,Lancaster
160,California,CA,144186,158937,Hayward
161,California,CA,152750,157356,Palmdale
162,California,CA,150441,157218,Salinas
163,Virginia,VA,139966,155810,Alexandria
164,Colorado,CO,142980,154393,Lakewood
165,Massachusetts,MA,153060,154074,Springfield
166,Texas,TX,149043,153351,Pasadena
167,California,CA,140081,152771,Sunnyvale
168,Georgia,GA,91351,152555,Macon
169,California,CA,149058,152494,Pomona
170,Florida,FL,140768,151998,Hollywood
171,Kansas,KS,145786,151709,Kansas City
172,California,CA,143911,151613,Escondido
173,Tennessee,TN,132929,150287,Clarksville
174,Illinois,IL,147433,148262,Joliet
175,Illinois,IL,152871,147651,Rockford
176,California,CA,145438,147195,Torrance
177,Illinois,IL,141853,147122,Naperville
178,New Jersey,NJ,146199,147000,Paterson
179,Georgia,GA,136286,146763,Savannah
180,Connecticut,CT,144229,145936,Bridgeport
181,Texas,TX,139824,143736,Mesquite
182,Texas,TX,127921,143400,Killeen
183,New York,NY,145170,143378,Syracuse
184,Texas,TX,129877,142212,McAllen
185,California,CA,137122,142059,Pasadena
186,Washington,WA,122363,141400,Bellevue
187,California,CA,135161,140721,Fullerton
188,California,CA,136416,140504,Orange
189,Ohio,OH,141527,140489,Dayton
190,Florida,FL,122041,138449,Miramar
191,Colorado,CO,118772,136703,Thornton
192,Utah,UT,129480,136574,West Valley City
193,Kansas,KS,125872,135473,Olathe
194,Virginia,VA,137436,135410,Hampton
195,Michigan,MI,134056,135125,Warren
196,Texas,TX,111147,134610,Midland
197,Texas,TX,124805,134432,Waco
198,South Carolina,SC,120083,134385,Charleston
199,South Carolina,SC,129272,134309,Columbia
200,Texas,TX,113383,133808,Denton
201,Texas,TX,119097,133351,Carrollton
202,Arizona,AZ,117517,132677,Surprise
203,California,CA,118788,132671,Roseville
204,Michigan,MI,129699,132427,Sterling Heights
205,Tennessee,TN,108755,131947,Murfreesboro
206,Florida,FL,124354,131591,Gainesville
207,Iowa,IA,126326,131127,Cedar Rapids
208,California,CA,124442,131074,Visalia
209,Florida,FL,121096,130059,Coral Springs
210,Connecticut,CT,129779,129934,New Haven
211,Connecticut,CT,122643,129113,Stamford
212,California,CA,126683,128888,Thousand Oaks
213,California,CA,122067,128726,Concord
214,New Jersey,NJ,124969,128640,Elizabeth
215,Louisiana,LA,120623,127626,Lafayette
216,Washington,WA,92411,127514,Kent
217,Kansas,KS,127473,126808,Topeka
218,California,CA,124237,126327,Simi Valley
219,California,CA,116468,125948,Santa Clara
220,Georgia,GA,115452,123371,Athens
221,Connecticut,CT,124775,123243,Hartford
222,California,CA,115903,122265,Victorville
223,Texas,TX,117063,122225,Abilene
224,Oklahoma,OK,110925,122180,Norman
225,California,CA,115942,121299,Vallejo
226,California,CA,112580,121240,Berkeley
227,Texas,TX,99887,120892,Round Rock
228,Michigan,MI,113934,120782,Ann Arbor
229,North Dakota,ND,105549,120762,Fargo
230,Missouri,MO,108500,120612,Columbia
231,Pennsylvania,PA,118032,120443,Allentown
232,Indiana,IN,117429,119477,Evansville
233,Texas,TX,118296,118299,Beaumont
234,Texas,TX,99940,117871,Odessa
235,North Carolina,NC,106476,117525,Wilmington
236,Colorado,CO,106433,117453,Arvada
237,Missouri,MO,116830,117030,Independence
238,Utah,UT,112488,116868,Provo
239,Michigan,MI,114297,116020,Lansing
240,California,CA,113475,115807,El Monte
241,Illinois,IL,116250,115715,Springfield
242,California,CA,105321,114756,Fairfield
243,Florida,FL,107685,114361,Clearwater
244,Illinois,IL,115007,114265,Peoria
245,Minnesota,MN,106769,114011,Rochester
246,California,CA,105328,113952,Carlsbad
247,Colorado,CO,106114,113875,Westminster
248,Utah,UT,103712,113699,West Jordan
249,Texas,TX,91252,113570,Pearland
250,Texas,TX,99223,113347,Richardson
251,California,CA,111772,113267,Downey
252,Florida,FL,107167,113058,Miami Gardens
253,California,CA,100097,113054,Temecula
254,California,CA,109960,112822,Costa Mesa
255,Texas,TX,93857,112141,College Station
256,Illinois,IL,108188,112123,Elgin
257,California,CA,103466,111674,Murrieta
258,Oregon,OR,105594,111523,Gresham
259,North Carolina,NC,104371,111223,High Point
260,California,CA,102372,110898,Antioch
261,California,CA,109673,110654,Inglewood
262,Massachusetts,MA,105162,110651,Cambridge
263,Massachusetts,MA,106519,110558,Lowell
264,New Hampshire,NH,109565,110506,Manchester
265,Montana,MT,104170,110323,Billings
266,Colorado,CO,106595,110291,Pueblo
267,Florida,FL,103190,110104,Palm Bay
268,Colorado,CO,100377,109932,Centennial
269,California,CA,103701,109813,Richmond
270,California,CA,106433,109592,Ventura
271,Florida,FL,99845,109393,Pompano Beach
272,South Carolina,SC,97471,109298,North Charleston
273,Washington,WA,103019,109043,Everett
274,Connecticut,CT,110366,108272,Waterbury
275,Florida,FL,99919,108161,West Palm Beach
276,Colorado,CO,97385,108090,Boulder
277,California,CA,106098,107847,West Covina
278,Oklahoma,OK,98850,107403,Broken Arrow
279,California,CA,95631,106583,Clovis
280,California,CA,101123,106472,Daly City
281,Florida,FL,97422,106420,Lakeland
282,California,CA,99553,106290,Santa Maria
283,California,CA,105549,106178,Norwalk
284,Georgia,GA,93853,105703,Sandy Springs
285,Oregon,OR,91611,105164,Hillsboro
286,Wisconsin,WI,104057,105139,Green Bay
287,Texas,TX,96900,104798,Tyler
288,Texas,TX,104553,104724,Wichita Falls
289,Texas,TX,95290,104659,Lewisville
290,California,CA,103340,104447,Burbank
291,Colorado,CO,92889,103990,Greeley
292,California,CA,97207,103959,San Mateo
293,California,CA,99478,103768,El Cajon
294,California,CA,0,103541,Jurupa Valley
295,California,CA,99171,103314,Rialto
296,Iowa,IA,99685,102612,Davenport
297,Texas,TX,83560,102010,League City
298,New Jersey,NJ,99967,101996,Edison
299,Florida,FL,91992,101871,Davie
300,New Mexico,NM,97618,101759,Las Cruces
301,Indiana,IN,101168,101735,South Bend
302,California,CA,93834,101659,Vista
303,New Jersey,NJ,99585,101389,Woodbridge
304,Washington,WA,90927,100953,Renton
305,New Jersey,NJ,92843,100758,Lakewood
306,Texas,TX,93200,100702,San Angelo
307,Michigan,MI,96796,100392,Clinton

In [51]:
%sql
--CREATE OR REPLACE TEMPORARY VIEW  RobberyRatesByCity AS
Select  CombinedRobberiesByMonth.city, month, Robberies/estPopulation2016 AS robberyRate
From CombinedRobberiesByMonth Left Join CityData
On CombinedRobberiesByMonth.city = CityData.city
  Order by month

city,month,robberyRate
Dallas,1,5.637632983263893E-4
Los Angeles,1,1.8082036615746914E-4
Philadelphia,1,3.316597273246796E-4
Philadelphia,2,2.6532778185974366E-4
Los Angeles,2,1.6975486391695643E-4
Dallas,2,3.3006330386538274E-4
Philadelphia,3,2.755326965466569E-4
Los Angeles,3,1.7830547928462533E-4
Dallas,3,3.126116809023855E-4
Dallas,4,4.507071321747985E-4
Los Angeles,4,1.7931143403376285E-4
Philadelphia,4,2.9721814025634747E-4
Los Angeles,5,1.986760629546601E-4
Dallas,5,4.6664122270623074E-4
Philadelphia,5,3.3995122050779655E-4
Philadelphia,6,3.246438484774267E-4
Los Angeles,6,1.7553910372449717E-4
Dallas,6,3.755892768123321E-4
Philadelphia,7,3.4250244917952486E-4
Dallas,7,4.0593992544363163E-4
Los Angeles,7,2.077296556968978E-4
Dallas,8,4.757464172956206E-4
Los Angeles,8,1.9238884577255062E-4
Philadelphia,8,3.578098212098947E-4
Philadelphia,9,3.2783288431708713E-4
Dallas,9,3.884883024806344E-4
Los Angeles,9,1.8157483221932228E-4
Los Angeles,10,2.0471179144948524E-4
Dallas,10,4.575360281168409E-4
Philadelphia,10,3.648257000571475E-4
Philadelphia,11,3.4760490652298146E-4
Dallas,11,4.46913301095886E-4
Los Angeles,11,1.9213735708526624E-4
Philadelphia,12,3.469670993550494E-4
Los Angeles,12,2.1451985025357605E-4
Dallas,12,5.038207672795728E-4

In [52]:
%sql
SELECT concat(city,'|',month,'|',cast(robberyRate*10000000 as int)) FROM RobberyRatesByCity order by robberyRate, month

"concat(city, |, CAST(month AS STRING), |, CAST(CAST((robberyRate * CAST(10000000 AS DOUBLE)) AS INT) AS STRING))"
Los Angeles|2|1697
Los Angeles|6|1755
Los Angeles|3|1783
Los Angeles|4|1793
Los Angeles|1|1808
Los Angeles|9|1815
Los Angeles|11|1921
Los Angeles|8|1923
Los Angeles|5|1986
Los Angeles|10|2047
Los Angeles|7|2077
Los Angeles|12|2145
Philadelphia|2|2653
Philadelphia|3|2755
Philadelphia|4|2972
Dallas|3|3126
Philadelphia|6|3246
Philadelphia|9|3278
Dallas|2|3300
Philadelphia|1|3316
Philadelphia|5|3399
Philadelphia|7|3425
Philadelphia|12|3469
Philadelphia|11|3476
Philadelphia|8|3578
Philadelphia|10|3648
Dallas|6|3755
Dallas|9|3884
Dallas|7|4059
Dallas|11|4469
Dallas|4|4507
Dallas|10|4575
Dallas|5|4666
Dallas|8|4757
Dallas|12|5038
Dallas|1|5637

In [53]:
# TEST - Run this cell to test your solution.

rows = spark.sql("SELECT concat(city,'|',month,'|',cast(robberyRate*10000000 as int)) FROM RobberyRatesByCity order by robberyRate, month").collect()

dbTest("SQL-L7-roberryRatesByCity-counts-0",  "Los Angeles|2|1697", rows[0][0])
dbTest("SQL-L7-roberryRatesByCity-counts-10", "Los Angeles|7|2077", rows[10][0])
dbTest("SQL-L7-roberryRatesByCity-counts-20", "Philadelphia|5|3399", rows[20][0])

print("Tests passed!")

## ![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) Classroom-Cleanup<br>

Run the **`Classroom-Cleanup`** cell below to remove any artifacts created by this lesson.

In [55]:
%run ./Includes/Classroom-Cleanup

<h2><img src="https://files.training.databricks.com/images/105/logo_spark_tiny.png"> All done!</h2>

Thank you for your participation!

## References

The crime data used in this notebook comes from the following locations:

| City          | Original Data 
| ------------- | -------------
| Boston        | <a href="https://data.boston.gov/group/public-safety" target="_blank">https&#58;//data.boston.gov/group/public-safety</a>
| Chicago       | <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2" target="_blank">https&#58;//data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2</a>
| Dallas        | <a href="https://www.dallasopendata.com/Public-Safety/Police-Incidents/tbnj-w5hb/data" target="_blank">https&#58;//www.dallasopendata.com/Public-Safety/Police-Incidents/tbnj-w5hb/data</a>
| Los Angeles   | <a href="https://data.lacity.org/A-Safe-City/Crime-Data-From-2010-to-Present/y8tr-7khq" target="_blank">https&#58;//data.lacity.org/A-Safe-City/Crime-Data-From-2010-to-Present/y8tr-7khq</a>
| New Orleans   | <a href="https://data.nola.gov/Public-Safety-and-Preparedness/Electronic-Police-Report-2016/4gc2-25he/data" target="_blank">https&#58;//data.nola.gov/Public-Safety-and-Preparedness/Electronic-Police-Report-2016/4gc2-25he/data</a>
| New York      | <a href="https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i" target="_blank">https&#58;//data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i</a>
| Philadelphia  | <a href="https://www.opendataphilly.org/dataset/crime-incidents" target="_blank">https&#58;//www.opendataphilly.org/dataset/crime-incidents</a>

-sandbox
&copy; 2020 Databricks, Inc. All rights reserved.<br/>
Apache, Apache Spark, Spark and the Spark logo are trademarks of the <a href="http://www.apache.org/">Apache Software Foundation</a>.<br/>
<br/>
<a href="https://databricks.com/privacy-policy">Privacy Policy</a> | <a href="https://databricks.com/terms-of-use">Terms of Use</a> | <a href="http://help.databricks.com/">Support</a>